<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>
        {{ 'group.which' | translate }} <!-- Traducción para "Which Group?" -->
      </ng-template>
      <mat-form-field>
        <mat-label>{{ 'group.pick' | translate }}</mat-label> <!-- Traducción para "Pick a group" -->
        <mat-select formControlName="firstCtrl" required (selectionChange)="onGroupSelectionChange($event)">
          <mat-option *ngFor="let group of joinedGroups" [value]="group.id">
            {{ group.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>{{ 'common.next' | translate }}</button> <!-- Traducción para "Next" -->
      </div>
    </form>
  </mat-step>
  
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>
        {{ 'expense.which' | translate }} <!-- Traducción para "Which Expense?" -->
      </ng-template>
      <mat-form-field>
        <mat-label>{{ 'expense.pick' | translate }}</mat-label> <!-- Traducción para "Pick an expense" -->
        <mat-select formControlName="firstCtrl" required>
          <mat-option *ngFor="let payment of pendingPayments" [value]="payment.id">
            {{ payment.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>{{ 'common.back' | translate }}</button> <!-- Traducción para "Back" -->
        <button mat-button matStepperNext>{{ 'common.next' | translate }}</button> <!-- Traducción para "Next" -->
      </div>
    </form>
  </mat-step>
  
  <mat-step>
    <ng-template matStepLabel>
      {{ 'summary.title' | translate }} <!-- Traducción para "Summary" -->
    </ng-template>
    <div>
      <h1>{{ 'summary.heading' | translate }}</h1> <!-- Traducción para "Summary" -->
      <p>{{ 'summary.group' | translate }}: {{ firstFormGroup.value.firstCtrl }}</p> <!-- Traducción para "Group" -->
      <p>{{ 'summary.expense' | translate }}: {{ secondFormGroup.value.firstCtrl }}</p> <!-- Traducción para "Expense" -->
    </div>
    <div>
      <button mat-button matStepperPrevious>{{ 'common.back' | translate }}</button> <!-- Traducción para "Back" -->
      <button mat-button (click)="onSubmit()">{{ 'common.submit' | translate }}</button> <!-- Traducción para "Submit" -->
    </div>
  </mat-step>
</mat-stepper>
